* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}
p,label,.btn {
  font-size: 1.2em;
  font-weight: bold;
}
.App {
  text-align: center;
}
.slide:hover {
opacity:1;
}
.slidecontainer {
  background-color: aqua;
  display: inline-block;
  padding: 10px;
}
.slide {
  margin-top: 10px;
  display: block;
  /* removes slider bar*/
  -webkit-appearance: none; 
  appearance: none;
  background: black;
  border-radius: 20px;
  /* -webkit-transition: .2s; */
  /* transition: opacity .2s; */
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  border-radius: 20px;
  height: 25px; /* Slider handle height */
  background: #ff00e6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.slide::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ff00e6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
.btn {
  margin: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  transition: all .2s ease-out;
}
.btn:hover {
  transform: scale(1.05);
  transition: all .2s ease;
  cursor: pointer;
}
.calories {
  /* transform: scale(1.05); */
}
